.table-view{
/* background-color: aquamarine; */
border-collapse: separate;

}
.table-head{
    width: 10vw;
    border-top: 1px solid rgb(221, 220, 220);
    padding: 5px;
}
.table-col1{
    width: 40vw;
    padding-right: 10px;
    border-top: 1px solid rgb(221, 220, 220);
    padding: 5px;
}
.table-col2{
    width: 50vw;
    border-top: 1px solid rgb(221, 220, 220);
    padding: 5px;
}

.bold{
    font-weight: bold;
}

.count{
    font-size: 20px;
    color: rgb(97, 99, 99);
}

.border-vert{
    margin: 0 15px;
    border-right: 1px solid rgb(207, 209, 207);
    height: 10px;
}

.div-pad{
    margin-bottom: 30px;
}